footer
	.footer.text-center
		p © TownPharm-acy since 2016
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='/javascripts/jQuery.1.12.4.min.js')
// Include all compiled plugins (below), or include individual files as needed
script(src='/javascripts/bootstrap.min.js')
// /container
