.container
	// Example row of columns
	.row
		.col-md-4
			h2 여행이야기
			p
				| Donec id elit non mi porta gravida at eget metus.
				| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				| Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href='trip_korea.html', role='button') 멋진 여행 »
		.col-md-4
			h2 생존영어
			p
				| Donec id elit non mi porta gravida at eget metus.
				| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				| Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href='eng_100.html', role='button') I Can Do It »
		.col-md-4
			h2 Hello World
			p
				| Donec id elit non mi porta gravida at eget metus.
				| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				| Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href='code_hc.html', role='button') Coding... »
