doctype html
html
  // head_links
  include ./includes/head.jade
  // index_style
  include ./includes/main_style.jade
  body
    //navigation
    include ./includes/main_nav.jade
    //contents
    include ./includes/index_carousel_slide.jade
      hr
    include ./includes/index_jumbotron.jade
      hr
    //footer
    include ./includes/footer.jade
