doctype html
html
	include ../includes/head.jade
	include ../includes/main_style.jade
	body
		include ../includes/main_nav.jade
		//contents
		.container-fluid.text-left
			.row.content
				.col-sm-2.sidenav
					include eng_sidenav.jade
				.col-sm-8
					// jumbotron
					.jumbotron
						h2 English Conversation Section
						| Here's the board for studying Podcast '100 English Conversation'.<br/>
						| You can listen free english lectures after serching '100' or 'ilbangbang' in Apple Podcast.
					// english main page board
					table.table.table-hover.table-condensed
						thead
							tr
								th #
								th Title
								th Author
								th Date
						tbody
							each main in mains
								tr
									td= main.id
									td
										a(href='/english/'+main.category+'/'+main.id)= main.title
									td= main.author
									td= main.credate
					a.btn.btn-default.pull-right(href='/english/'+mains[0].category+'/'+mains[0].id+'/add', role='button') ADD
				.col-sm-2.sidenav
		//br
		include ../includes/footer.jade
