doctype html
html
	include ../includes/head.jade
	include ../includes/main_style.jade
	body
		include ../includes/main_nav.jade
		//contents
		.container-fluid.text-left
			.row.content
				.col-sm-2.sidenav
				.col-sm-9
				.col-sm-1.sidenav
		br
		//footer
		include ../includes/footer.jade
