p
	a(href='/health/hotboard') 'HOT' Issues
p
	a(href='/health/common') 건강 상식
p
	a(href='/health/eqip') 의약 기구
|-------------------------
p
	a(href='/health/etc') 전문 의약품
p
	a(href='/health/otc') 일반 의약품
|-------------------------
p
	a(href='/health/oriental') 한방 백방
