doctype html
html
  // head_links
  include ../includes/head.jade
  // style
  include ../includes/hotboard_style.jade
  body
    //navigation
    include ../includes/main_nav.jade
    //contents
    .container-fluid.text-center
      .row.content
        .col-sm-2.sidenav.text-left
          .panel-group
            .panel.panel-default
              .panel-heading
                .panel-title
                  a(data-toggle='collapse' href='#collapse1') 2016 Issues
              #collapse1.panel-collapse.collapse.in
                ul.list-group
                  each issue in rows
                    li.list-group-item
                      a(href='/health/hotboard/'+issue.id)= issue.title
          
        .col-sm-8.text-left
          //content-add form 구성
          .container
            .col-sm-8
              h2 Edit for Hotissue board
              hr
            form(role='form' action='/health/hotboard/'+editIssue.id+'/edit' method='post')
              .col-sm-8
                .form-group
                  label(for='title') Title
                  input#title.form-control(type='text' name='title' value=editIssue.title)
              .col-sm-8
                .form-group
                  label(for='author') Author
                  input#author.form-control(type='text' name='author' value=editIssue.author)
              .col-sm-8
                .form-grouop
                  label(for='content') Content
                  textarea#content.form-control(rows='10' name='content')= editIssue.content
                br
                button.btn.btn-default(type='submit') Update
        .col-sm-2.sidenav
          .well
            p ADS
          .well
            p ADS
    hr
    //footer
    include ../includes/footer.jade
