doctype html
html
	include ../includes/head.jade
	include ../includes/main_style.jade
	body
		inlcude ../includes/main_nav.jade
		.container-fluid.text-left
			.row.content
				.col-sm-2.sidenav
					include trips_sidenav.jade
				.col-sm-8
					.container
						.col-sm-8
							h2= delTrip.title
							hr
							h4 정말 이 글을 삭제 하시겠습니까?
							hr
							form(action='/trips/'+delTrip.category+'/'+delTrip.id+'/delete' method='post')
								.col-sm-3
									.form-group
										input.w3-input(type='text' name='id' value= delTrip.id)
								.col-sm-9
									.form-group
										input.w3-input(type='password' name='password' placeholder='Enter password for edit, del')
										br
										button.btn.btn-default.pull-right(type='submit') Delete
				.col-sm-2.sidenav
