doctype html
html
  include ../includes/head.jade
  include ../includes/main_style.jade
  body
    include ../includes/main_nav.jade
    //contents
    .container-fluiD
      .row.content
        .col-sm-2.sidenav.text-left
          // side-nav 일반 리스트 타입

        .col-sm-10.text-left
          // title, img1,2,3, content, author/password(edit or delete시), google map
          .container
            .col-sm-10
              h1 Add for Trips in Korea
              hr
            form(action='/trips/tripsKorea_add' method='post' enctype='multipart/form-data')
              .col-sm-10
                .form-group
                  input.w3-input(type='text' name='title' placeholder='Enter Title')
              .col-sm-10
                .form-grouop
                  textarea.form-control(rows='10' name='content' placeholder='Enter Contents (html tag 사용가능)')
              .col-sm-5
                .form-group
                  input.w3-input(type='text' name='author' placeholder='Enter author')
              .col-sm-5
                .form-group
                  input.w3-input(type='password' name='password' placeholder='Enter password for edit, del')
              .col-sm-10
                .form-group
                  input.w3-input(type='file' name='img' multiple)
                button.btn.btn-default.pull-right(type='submit') Submit
    hr
    include ../includes/footer.jade
